@use "../variables" as *;

button {
    border: none;
    background: transparent;
    cursor: pointer;
    color: currentColor;
}
.button {
    position: relative;
    display: inline-flex;
    border: none;
    font-family: $font;
    background: $black;
    color: $white;
    font-size: 0.8em;
    padding: 1.2rem 1.5rem;
    letter-spacing: 0.05em;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;

    &:disabled{
        cursor: not-allowed;
    }

    svg {
        display: inline-flex;
        width: 1.2rem;
        height: 1.2rem;
        stroke: currentColor;
        flex-shrink: 0;
        & + *{
            margin: 0 0 0 1em;
        }
    }

    &-inner {
        overflow: clip;
        pointer-events: none;
        display: flex;
        height: 100%;
        & + *{
            margin: 0 0 0 1em;
        }
    }

    &-text {
        text-shadow: 0 2lh 0 currentColor;
        transition: translate 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }

    &:not(:disabled){
        &:hover {
            .button-text {
                translate: 0 calc(2lh * -1) 0;
            }
        }
    }

    &-primary {
        @extend .button;
        color: $color-main;
        background-color: $bordeaux;
    }

    &-secondary {
        @extend .button;
        background-color: $orange;
        color: $white;
    }

    &-secondary {
        @extend .button;
        background-color: $beige;
        color: $bordeaux;
    }
}
