@use '../variables' as *;
@use '../mixins' as *;

.bim-popup {
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 1rem;
	visibility: hidden;
	transition-delay: 1s;
	
	.__menu-active &{
		visibility: visible;
		transition-delay: 0s;
	}

	&-overlay {
		position: absolute;
		z-index: 0;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba($black, 0.6);
		opacity: 0;
		transition: opacity $ts-smooth;

		.__menu-active &{
			opacity: 1;
		}
	}

	&-content {
		position: absolute;
		top: 4rem;
		right: 4rem;
		z-index: 1;
		background: $black;
		color: $white;
		padding: 4rem;
		width: calc(min(50vw, 800px));
		height: calc((100dvh - 8rem));
		overflow: hidden;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		transform: translateY(-100%);
		transition: transform $ts-smooth;
		.__menu-active &{
			transform: translate(0);
		}
		@media #{$md} {
			padding: 1.5rem;
			width: 100vw;
			height: 75lvh;
			top: 0;
			right: 0;
		}
		
	}

	&-menu{
		margin-top: 4em;
		// Menu niveau 1
		> ul{
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			
			>li{
				margin: .5rem 0;
				>a {
					text-decoration: none;
					color: currentColor;
					font-size: 3.2rem;
					line-height: 1;
					font-family: $font-secondary;
					letter-spacing: -0.025em;
					@include underline_alt();
					@media #{$sm} {
						font-size: 2rem;
					}
					
				}
			}
		}
	}

	&-submenu{
		width: 100%;
		margin: auto 0 0 0;
		// Menu niveau 2
		> ul{
			padding: 0;
			margin: 0;
			list-style-type: none;
			width: 100%;

			> li{
				display: grid;
				grid-template-columns: 1fr 1fr;
				gap: 1rem;
				& + *{
					margin: 4rem 0 0 0;
				}

				> a{
					pointer-events: none;
					color: $gray;
					text-decoration: none;
				}
				
				// Menu niveau 3
				>ul{
					padding: 0;
					margin: 0;
					list-style-type: none;

					>li{
						>a{
							color: $black;
							font-size: 1rem;
							text-decoration: none;
							@include underline;
						}
					}
				}
			}
		}
	}

	&-close {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 1rem;
		left: 1.5rem;
		width: auto;
		height: 3rem;
		cursor: pointer;
		border-radius: 50%;
		background-color: transparent;
		padding: 0;
		text-transform: uppercase;
		color: currentColor;
		&:hover{
			svg{
				transform: rotate(180deg) scale(0.8);
			}
		}
		
		svg {
			position: relative;
			display: block;
			fill: $black;
			stroke: $black;
			width: 15px;
			height: 15px;
			transition: transform $ts-smooth;
			pointer-events: none;
		}
	}
}