@use '../variables' as *;
@use '../mixins' as *;

.popup{
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 1rem;
	visibility: hidden;
	transition-delay: 1s;
	
	.__menu-active &{
		visibility: visible;
		transition-delay: 0s;
	}

	&-overlay {
		position: absolute;
		z-index: 0;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba($black, 0.6);
		opacity: 0;
		transition: opacity $ts-smooth;

		.__menu-active &{
			opacity: 1;
		}
	}

	&-content {
		position: absolute;
		top: 1rem;
		right: 1rem;
		z-index: 1;
		padding: .5rem 2rem;
		width: calc(min(40vw, 500px));
		height: calc((100dvh - 4rem));
		overflow: hidden;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-end;
		gap:10px;
		transform: translateX(calc(100% + 4rem));
		transition: transform $ts-smooth;
		.__menu-active &{
			transform: translate(0);
		}
		@media #{$md} {
			width: 100vw;
			height: 100svh;
			top: 0;
			right: 0;
			padding: 1rem;
		}
		
	}

	&-menu{
		background-color: $beige;
		color: $bordeaux;
		border-radius: 12px;
		padding: 2em;
		width: 100%;
		height: 35%;
		// Menu niveau 1
		> ul{
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			margin: 0;
			padding: 0;
			list-style-type: none;
			
			>li{
				margin: .5rem 0;
				>a {
					text-decoration: none;
					color: currentColor;
					font-size: 1.8em;
					text-transform: uppercase;
					font-family: $font-secondary;
					font-weight: 500;
					@include underline_alt(2px);
					@media #{$sm} {
						font-size: 1.4em;
					}
				}
			}
		}
	}

	&-submenu{
		background-color: $beige;
		color: $bordeaux;
		border-radius: 12px;
		padding: 2em;
		width: 100%;
		height: 35%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		// Menu niveau 2
		> ul{
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			margin: 0;
			padding: 0;
			list-style-type: none;

			> li{
				margin: .25rem 0;
				> a{
					color: $bordeaux;
					text-decoration: none;
					font-weight: 500;
					font-family: $font-secondary;
					font-size: 1.2em;
					@include underline_alt(2px);
				}
				
				// Menu niveau 3
				>ul{
					padding: 0;
					margin: 0;
					list-style-type: none;

					>li{
						>a{
							color: $black;
							font-size: 1rem;
							text-decoration: none;
							@include underline;
						}
					}
				}
			}
		}

		&-text{
			margin-top: auto;
			max-width: 60%;
			font-weight: 500;

			a{
				text-decoration: none;
				color: $color-main;
				@include underline_alt;
			}
		}
	}

	&-close {
		display: flex;
		align-items: flex-end;
		justify-content: center;
		width: auto;
		background-color: $beige;
		cursor: pointer;
		border-radius: 6px;
		padding: .5em 1em;
		text-transform: uppercase;
		color: currentColor;
		font-family: $font-secondary;
		color: $bordeaux;
		&:hover{
			svg{
				transform: rotate(180deg) scale(0.8);
			}
		}
		
		svg {
			position: relative;
			display: block;
			fill: $black;
			stroke: $black;
			transition: transform $ts-smooth;
			pointer-events: none;
			margin: 0 0 0 .5em;
		}
		span{
			margin-bottom: 1px;
		}
	}

	&-vote{
		position: relative;
		background-color: $bordeaux;
		color: $color-main;
		border-radius: 12px;
		padding: 2em;
		width: 100%;
		height: 20%;
		text-decoration: none;
		overflow: hidden;
		transition: color $ts-smooth;
		&:hover{
			color: $beige;
		}

		&-text{
			position: relative;
			z-index: 2;
			font-weight: 500;
			text-transform: uppercase;
			font-family: $font-secondary;
			font-size: 2em;
			max-width: 50%;
			transition: color $ts-smooth;
		}

		&-arrow{
			position: absolute;
			bottom: 1em;
			right: 1em;
		}

		&-svg{
			position: absolute;
			top: 0;
			left: 0;
			z-index: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			opacity: .15;
		}
	}
}