@use "../mixins" as *;
@use "../variables" as *;

.about {
    display: flex;
    flex-direction: column;
    &-hero {
        position: relative;
        height: 150lvh;
        color: $beige;
        justify-items: flex-start;
        padding-top: 8em;
        overflow: hidden;
        @include container;
        @media #{$md} {
            height: auto;
        }

        &-top {
            height: 100lvh;
            grid-template-rows: auto 1fr;
            @include sitegrid;

            @media #{$md} {
                height: auto;
            }
        }

        &-picture {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            height: 100%;
            width: 100%;
            z-index: 0;

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                filter: brightness(80%);
            }
        }

        &-title {
            display: flex;
            flex-direction: column;
            position: relative;
            z-index: 2;
            text-transform: uppercase;
            line-height: 1;
            justify-self: center;
            width: 100%;
            @include gridspan(1, 7);

            @media #{$md} {
                font-size: 5em;
            }

            span:first-of-type {
                text-align: right;
                margin-right: -0.5em;
                @media #{$md} {
                    text-align: left;
                }
            }
            span:last-of-type {
                text-align: left;
            }
        }

        &-intro {
            position: relative;
            z-index: 2;
            font-size: 1.2em;
            @include gridspan(2, 5);
        }

        &-portrait {
            @include gridspan(8, 4);
            width: 100%;
            aspect-ratio: 4/5;
            position: relative;
            z-index: 1;
            grid-row: 1 / span 2;

            @media #{$md} {
                grid-row: auto;
            }

            > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-bottom {
            z-index: 1;
            position: relative;
            color: rgba($white, 0.75);
            @include sitegrid;

            &-left {
                font-family: $font-secondary;
                letter-spacing: -0.025em;
                text-transform: uppercase;
                align-self: center;
                @include gridspan(1, 2);
                @media #{$md} {
                    display: none;
                }
            }
            &-center {
                @include gridspan(5, 4);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 2em;
                @media #{$md} {
                    justify-content: flex-start;
                    align-items: flex-start;
                    padding: 2em 0;
                }

                span {
                    font-family: $font-secondary;
                    letter-spacing: -0.025em;
                    text-transform: uppercase;
                    text-align: center;
                }

                svg {
                    stroke: $white;
                    opacity: 1;
                }
                .homepage-intro-deco {
                    @media #{$md} {
                        display: none;
                    }
                }
            }
            &-right {
                font-family: $font-secondary;
                letter-spacing: -0.025em;
                text-transform: uppercase;
                text-align: right;
                align-self: center;
                @include gridspan(11, 2);
                @media #{$md} {
                    display: none;
                }
            }
            &-seo {
                text-transform: uppercase;
            }
        }
    }

    &-flexibles{
        display: flex;
        flex-direction: column;
    }
}
