@use "../variables" as *;
@use "../mixins" as *;

.categories{

}
.category{
    padding-top: 8em;
    padding-bottom: 4em;
    @include container;
    @media #{$sm} {
        padding-top: 10em;
    }

    &-top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 1em 0 3em;
        padding: 0 4em;
        @media #{$md} {
            padding: 0;
        }
    }
    &-index{
        text-align: center;
        color: $bordeaux;
        text-transform: uppercase;
        font-weight: 500;
        font-family: $font-secondary;
    }
    &-title{
        color: $color-main;
        text-transform: uppercase;
        text-align: center;
        margin: 1rem 0 0 0;
        @media #{$md} {
            font-size: 2em;
        }
        @media #{$xs} {
            font-size: 1.5em;
        }
    }
    &-listing{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        margin: 0;
        padding: 0;
        list-style-type: none;
        gap: 2em;
        @media #{$md} {
            grid-template-columns: repeat(3, 1fr);
        }
        @media #{$xs} {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &-logo{
        width: 100%;
        aspect-ratio: 1/1;
    }

    &-list{
        display: flex;
        flex-direction: column;
        gap: .5em;
        background-color: $white;
        padding: 1em;
        border-radius: 12px;
    }

    &-link{
        background-color: $orange;
        text-transform: uppercase;
        color: $beige;
        border-radius: 6px;
        padding: .5em 2em;
        text-align: center;
        text-decoration: none;
        font-weight: 500;
        font-size: .9em;
    }

    &-vote{
        background-color: $color-main;
        text-transform: uppercase;
        color: $bordeaux;
        border-radius: 6px;
        padding: .5em 2em;
        text-align: center;
        font-weight: 500;
        font-size: .9em;
        font-family: $font;
        transition: color $ts-smooth, background $ts-smooth;

        &:disabled{
            background-color: $bordeaux;
            color: $bordeaux-light;
        }
    }

    &-prev{

        &-svg{
            width: 4em;
            height: 4em;
            @media #{$sm} {
                width: 3em;
                height: 3em;
            }

            &.disabled{
                opacity: .2;
            }
        }
    }
    
    &-next{

        &-svg{
            width: 4em;
            height: 4em;
            @media #{$sm} {
                width: 3em;
                height: 3em;
            }
        }
    }
}