@use "../variables" as *;
@use "../mixins" as *;

.homepage {
    height: 100lvh;
    position: relative;
    
    &-container{
        display: flex;
        flex-direction: column;
        height: 100%;
        @include container;
    }

    &-top{
        padding: 14em 0 0 12em;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media #{$md} {
            padding: 8em 0 0 0;
            align-items: flex-end;
            justify-content: flex-end;
        }

        &-svg{
            pointer-events: none;
            position: absolute;
            top: 2em;
            left: 4em;
            width: calc(100% - 8em);

            @media #{$md} {
                left: 1.5em;
                width: calc(100% - 3em);
            }
        }
    }

    &-menu{
        color: $bordeaux;
        font-family: $font-secondary;
        background-color: $beige;
        border-radius: 6px;
        padding: 1.25rem 1.5rem;
        display: flex;
        align-items: flex-end;
        gap: 1em;
        line-height: .8;

        @media #{$md} {
            padding: .75rem .5rem;
        }

        &-title{
            display: block;
        }

        &-burger{
            display: flex;
            flex-direction: column;
            width: 1em;
            height: 1em;
            justify-content: space-around;
            align-items: flex-start;
            span{
                width: 100%;
                height: 1.5px;
                background-color: $bordeaux;
            }
        }
    }

    &-tagline{
        color: $color-main;
        font-weight: 500;
        max-width: 26em;
        @media #{$md} {
            display: none;
        }
    }

    &-center{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: auto;
        margin-bottom: auto;

        &-title{
            font-size: 3em;
            text-transform: uppercase;
            color: $white;
            text-align: center;
            max-width: 12em;
            margin-top: 0;
            color: $beige;
        }
    }

    &-nav{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2em;
        @media #{$md} {
            flex-direction: column;
            gap: .5em;
        }

        > *{
            @media #{$md} {
                min-width: 12rem;
            }
        }
    }
    
    &-grid{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: url(../../../../content/pattern-grid.svg);
        background-attachment: fixed;
        background-position: center;
        opacity: .2;
        z-index: -1;
    }

    &-bottom{
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding-bottom: 2em;
        gap: 8em;
        @media #{$sm} {
            gap: 1em;
            flex-direction: column;

        }

        &-svg{
            width: 100%;
            height: auto;
            display: block;
            @media #{$sm} {
                height: auto;
            }
        }
    }

    &-dates{
        flex-shrink: 0;
        width: 20%;
        color: $white;
        @media #{$sm} {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        &-title{
            text-transform: uppercase;
            margin: 0 0 .5em 0;
        }
        &-text{
            display: flex;
            flex-direction: column;
            font-size: 2em;
            font-family: $font-secondary;
            @media #{$sm} {
                flex-direction: row;
            }
        }
    }

    &-video{
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(85%);
    }
}
