@use "../mixins" as *;
@use "../variables" as *;

.page {

    @include container;
    padding-top: 8em;
    padding-bottom: 6em;
    min-height: 100vh;

    &-message{
        margin: 2em 0;
        font-size: 1.2em;
    }

    &-flexibles {
        position: relative;
        z-index: 2;
        background-color: var(--bg);
    }
}
