@use "variables" as *;

// ======================================
// Container
// ======================================
@mixin container($width: $container-width) {
    max-width: $width;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: 2.5em;
    padding-right: 2.5em;
    width: 100%;
    @media #{$md} {
        padding-left: 1.5em;
        padding-right: 1.5em;
    }
}

@mixin sitegrid($colums: 12) {
    display: grid;
    grid-template-columns: repeat($colums, minmax(0, 1fr));
    grid-auto-flow: dense;
    gap: var(--grid-gap);
    @media #{$md} {
    }
    @media #{$sm} {
        grid-template-columns: 1fr;
    }
}

@mixin gridspan($start, $end) {
    grid-column: $start / span $end;
    @media #{$sm} {
        grid-column: 1 / -1;
    }
}

@mixin blockspacing($value: 8lvh) {
    padding-top: $value;
    padding-bottom: $value;
}

@mixin background($color) {
    position: relative;
    z-index: 0;
    &::before {
        content: "";
        width: 100vw;
        height: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        background-color: $color;
        transition: background $ts-smooth;
    }
}

@mixin wysiwyg() {
    p {
        font-size: 1.2em;
        text-wrap: pretty;
        @media #{$lg} {
            font-size: 1.1em;
        }
    }

    a {
        transition: $ts;

        &:hover {
        }
    }
}

// ======================================
// Effects
// ======================================

@mixin underline($height: 1px, $color: currentcolor) {
    text-decoration: none;
    position: relative;
    display: inline-block;
    &::before,
    &::after {
        content: "";
        position: absolute;
        bottom: -0.0625em;
        left: 0;
        width: 100%;
        height: $height;
        background-color: $color;
        transition: transform 0.735s cubic-bezier(0.625, 0.05, 0, 1);
    }
    &::before {
        transform-origin: left;
        transform: scaleX(1) rotate(0.001deg);
        transition-delay: 0.3s;
    }
    &::after {
        transform-origin: right;
        transform: scaleX(0) rotate(0.001deg);
        transition-delay: 0s;
    }
    &:hover,
    &:focus {
        &::before {
            transform-origin: right;
            transform: scaleX(0) rotate(0.001deg);
            transition-delay: 0s;
        }
        &::after {
            transform-origin: left;
            transform: scaleX(1) rotate(0.001deg);
            transition-delay: 0.3s;
        }
    }
    @media #{$sm} {
        &::before {
            height: 1px;
        }
    }
}

@mixin underline_alt($height: 1px, $color: currentcolor) {
    text-decoration: none;
    position: relative;
    display: inline-block;
    &::before {
        content: "";
        position: absolute;
        bottom: -0.0625em;
        left: 0;
        width: 100%;
        height: $height;
        background-color: $color;
        transition: transform 0.735s cubic-bezier(0.625, 0.05, 0, 1);
    }
    &::before {
        transform-origin: right;
        transform: scaleX(0) rotate(0.001deg);
        transition-delay: 0.3s;
    }

    &:hover,
    &:focus {
        &::before {
            transform-origin: left;
            transform: scaleX(1) rotate(0.001deg);
            transition-delay: 0s;
        }
    }
    @media #{$sm} {
        &::before {
            height: 1px;
        }
    }
}
