@use "../mixins" as *;
@use "../variables" as *;

.flex-video {
    @include blockspacing;
    @include sitegrid;
    @include container;

    iframe {
        @include gridspan(1, 12);
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
    }
}

.vimeo-player {
    pointer-events: auto;
    color: #efeeec;
    isolation: isolate;
    background-color: #131313;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    overflow: hidden;
    width: 100%;
    transform: translateX(0);
    @include gridspan(1, 12);
}

/* Cover */
.vimeo-player[data-vimeo-update-size="cover"] {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
}

.vimeo-player__iframe {
    pointer-events: none;
    width: 100%;
    height: 100%;
    position: absolute;
}

.vimeo-player__before {
    padding-top: 62.5%;
}

/* Placeholder */
.vimeo-player__placeholder {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s linear;
    display: block;
    position: absolute;
}

.vimeo-player[data-vimeo-activated="true"][data-vimeo-loaded="true"] .vimeo-player__placeholder {
    opacity: 0;
}

/* Dark (Overlay) */
.vimeo-player__dark {
    opacity: 0.5;
    pointer-events: none;
    background-color: #131313;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s linear;
    position: absolute;
}

.vimeo-player[data-vimeo-playing="false"] .vimeo-player__dark {
    opacity: 0.33;
}

.vimeo-player[data-vimeo-activated="false"][data-vimeo-playing="false"] .vimeo-player__dark {
    opacity: 0;
}

.vimeo-player[data-vimeo-activated="true"][data-vimeo-loaded="true"] .vimeo-player__dark {
    opacity: 0;
}

@media (hover: hover) and (pointer: fine) {
    .vimeo-player[data-vimeo-hover="true"]:hover .vimeo-player__dark {
        opacity: 0.33 !important;
    }
}

/* Play/Pause */
.vimeo-player__play,
.vimeo-player__pause {
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
}

.vimeo-player__btn {
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 12em;
    height: 6em;
    transition: opacity 0.3s linear;
    display: flex;
    position: relative;
}

.vimeo-player__btn-text {
    text-transform: uppercase;
    font-family: $font-secondary;
    letter-spacing: -0.025em;
    font-size: 2em;
}

.vimeo-player__btn-play-svg {
    width: 40%;
}

.vimeo-player__btn-pause-svg {
    width: 50%;
}

/* Pause */
.vimeo-player .vimeo-player__pause {
    display: none;
}

.vimeo-player[data-vimeo-playing="true"] .vimeo-player__pause {
    display: flex;
}

.vimeo-player .vimeo-player__pause .vimeo-player__btn {
    opacity: 0;
}

.vimeo-player[data-vimeo-activated="true"][data-vimeo-playing="false"] .vimeo-player__pause .vimeo-player__btn,
.vimeo-player[data-vimeo-activated="true"][data-vimeo-hover="true"]:hover .vimeo-player__pause .vimeo-player__btn {
    opacity: 1;
}

@media (hover: none) and (pointer: coarse) {
    .vimeo-player[data-vimeo-activated="true"][data-vimeo-playing="true"] .vimeo-player__pause .vimeo-player__btn {
        opacity: 0 !important;
    }
}

/* Play */
.vimeo-player[data-vimeo-playing="true"] .vimeo-player__play {
    opacity: 0;
}

/* Loading */

.vimeo-player__loading-svg {
    width: 6em;
}

.vimeo-player__loading {
    pointer-events: none;
    color: $beige;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s linear;
    display: flex;
    position: absolute;
    opacity: 0;
}

.vimeo-player[data-vimeo-playing="true"] .vimeo-player__loading {
    opacity: 1;
}

.vimeo-player[data-vimeo-playing="true"][data-vimeo-loaded="true"] .vimeo-player__loading {
    opacity: 0;
}

/* Interface */
.vimeo-player .vimeo-player__interface {
    opacity: 0;
}

.vimeo-player[data-vimeo-activated="false"][data-vimeo-playing="false"] .vimeo-player__interface {
    opacity: 1;
}

.vimeo-player .vimeo-player__interface * {
    pointer-events: all; /* Make children of div clickable by user */
}

.vimeo-player[data-vimeo-activated="true"][data-vimeo-playing="false"] .vimeo-player__interface,
.vimeo-player[data-vimeo-activated="true"][data-vimeo-hover="true"]:hover .vimeo-player__interface {
    opacity: 1;
}

@media (hover: none) and (pointer: coarse) {
    .vimeo-player[data-vimeo-activated="true"][data-vimeo-playing="true"] .vimeo-player__interface {
        opacity: 0 !important;
    }
}

/* Interface - Variables */
.vimeo-player {
    --timeline-rounded-corners: 1.5em;
    --timeline-dot-height: 0.75em;
    --timeline-dot-color: #{$beige};
    --progress-bg: rgba(239, 238, 236, 0.2);
    --progress-fill-bg: #{$beige};
    --progress-height: 0.2em;
}

.vimeo-player__interface {
    pointer-events: none;
    flex-flow: column;
    justify-content: flex-end;
    align-items: stretch;
    width: 100%;
    height: 100%;
    padding: min(2em, 4vw);
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    display: flex;
    position: absolute;
}

.vimeo-player__interface-bottom {
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

/* Interface - Timeline */

.vimeo-player__timeline {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    height: 1.5em;
    display: flex;
    position: relative;
}

.vimeo-player__timeline-input {
    pointer-events: auto;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    background-color: #0000;
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

.vimeo-player__timeline-progress {
    vertical-align: top;
    -webkit-appearance: none;
    appearance: none;
    height: var(--progress-height);
    border-radius: var(--timeline-rounded-corners);
    color: var(--progress-fill-bg);
    background-color: #0000;
    border: none;
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    overflow: hidden;
}

.vimeo-player progress::-webkit-progress-bar {
    border-radius: var(--timeline-rounded-corners);
    background-color: var(--progress-bg);
    box-shadow: 0;
}

.vimeo-player progress::-webkit-progress-value {
    background: var(--progress-fill-bg);
}

.vimeo-player progress::-moz-progress-bar {
    border-radius: var(--timeline-rounded-corners);
    background: var(--progress-fill-bg);
    box-shadow: 0;
}

.vimeo-player progress::-ms-fill {
    border-radius: var(--timeline-rounded-corners);
}

/* Interface - Range */
.vimeo-player [type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

.vimeo-player [type="range"]:focus {
    outline: none;
}

.vimeo-player [type="range"]::-ms-track {
    width: 100%;
    cursor: pointer;
    background-color: transparent;
    border-color: transparent;
    color: transparent;
}

.vimeo-player [type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: var(--progress-height);
    cursor: pointer;
    background-color: var(--progress-bg);
    border-radius: var(--timeline-rounded-corners);
    background-color: transparent;
    border-color: transparent;
    color: transparent;
}

.vimeo-player [type="range"]::-webkit-slider-thumb {
    box-shadow: 0;
    height: var(--timeline-dot-height);
    width: var(--timeline-dot-height);
    border-radius: var(--timeline-rounded-corners);
    background-color: var(--timeline-dot-color);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: calc((var(--progress-height) / 2) - (var(--timeline-dot-height) / 2));
}

.vimeo-player [type="range"]::-webkit-slider-runnable-track,
.vimeo-player [type="range"]:focus::-webkit-slider-runnable-track {
    background-color: transparent;
    border-color: transparent;
    color: transparent;
}

.vimeo-player [type="range"]::-moz-range-track {
    width: 100%;
    height: var(--progress-height);
    cursor: pointer;
    background: var(--progress-bg);
    border-radius: 0;
    border: 0;
    border-radius: var(--timeline-rounded-corners);
    overflow: hidden;
    opacity: 1 !important;
}

.vimeo-player [type="range"]::-moz-range-thumb {
    box-shadow: 0;
    border: 0;
    height: var(--timeline-dot-height);
    width: var(--timeline-dot-height);
    border-radius: var(--timeline-rounded-corners);
    background: var(--timeline-dot-color);
    cursor: pointer;
    box-shadow: 0;
}

/* Interface - Mute */

.vimeo-player__mute {
    cursor: pointer;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 1.5em;
    height: 1.5em;
    display: flex;
    position: relative;
}

.vimeo-player__volume-up-svg,
.vimeo-player__volume-mute-svg {
    width: 100%;
    position: absolute;
}

.vimeo-player .vimeo-player__mute svg:nth-child(2),
.vimeo-player[data-vimeo-muted="true"] .vimeo-player__mute svg:nth-child(1) {
    display: none;
}

.vimeo-player .vimeo-player__mute svg:nth-child(1),
.vimeo-player[data-vimeo-muted="true"] .vimeo-player__mute svg:nth-child(2) {
    display: block;
}

/* Interface - Fullscreen */
.vimeo-player__fullscreen {
    justify-content: center;
    align-items: center;
    width: 1.5em;
    height: 1.5em;
    display: flex;
    position: relative;
    cursor: pointer;
}

.vimeo-player__fullscreen-scale-svg,
.vimeo-player__fullscreen-shrink-svg {
    width: 100%;
    position: absolute;
}

.vimeo-player .vimeo-player__fullscreen svg:nth-child(2),
.vimeo-player[data-vimeo-fullscreen="true"] .vimeo-player__fullscreen svg:nth-child(1) {
    display: none;
}

.vimeo-player .vimeo-player__fullscreen svg:nth-child(1),
.vimeo-player[data-vimeo-fullscreen="true"] .vimeo-player__fullscreen svg:nth-child(2) {
    display: block;
}

/* Interface - Duration */
.vimeo-player__duration {
    flex-shrink: 0;
    width: 2.25em;
}

.vimeo-player__duration-span {
    text-align: center;
    white-space: nowrap;
    -webkit-user-select: none;
    user-select: none;
    width: 100%;
    display: block;
}
