@use "../mixins" as *;
@use "../variables" as *;

.flex-paragraphe {
    @include container;
    @include sitegrid;
    @include blockspacing;

    &.double{
        .flex-paragraphe-column:first-of-type{
            @include gridspan(1,5);
        }
        .flex-paragraphe-column:last-of-type{
            @include gridspan(7,6);
        }
    }

    &-title {
        @include gridspan(1, 6);
        font-family: $font-secondary;
        letter-spacing: -0.025em;
        font-size: 3em;
        line-height: 1;
        @media #{$lg} {
            font-size: 2.5em;
        }
        @media #{$sm} {
            font-size: 2em;
        }
    }

    &-texte {
        color: $gray;
        @include gridspan(8, 4);
        @include wysiwyg;
    }

    &-column{
        color: $gray;
        grid-column: span 6;
        @include wysiwyg;

        @media #{$md} {
            grid-column: 1;
        }
    }
}
