@use "../variables" as *;
@use "../mixins" as *;

.flex-process {
    @include blockspacing;
    @include container;

    &-title {
        text-align: center;
        text-transform: uppercase;
        color: $gray;
        font-size: 8em;
        max-width: 70%;
        margin: 0 auto;
        @media #{$md} {
            font-size: 3em;
        }
    }
    &-wrapper {
        @include sitegrid;
    }

    &-list {
        @include gridspan(5, 7);
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    &-step {
        display: flex;
        align-items: flex-start;
        gap: 1em 4em;
        padding: 3em 0 4em;
        @media #{$md} {
            flex-direction: column;
        }
        &:not(:last-of-type) {
            border-bottom: 1px solid rgba($black, 0.2);
        }

        &-title {
            margin: 0;
            width: 30%;
            flex-shrink: 0;
            color: $gray;
            text-transform: uppercase;
            line-height: 1;
            @media #{$md} {
                width: 100%;
            }
        }
        &-description {
            font-size: 1.1em;
            p:first-of-type {
                margin-top: 0;
            }
        }
    }
    &-numbers {
        @include gridspan(1, 4);
        font-size: 8em;
        font-family: $font-secondary;
        letter-spacing: -0.025em;
        position: relative;
        color: $white;
        height: 100%;
        justify-self: center;
        @media #{$md} {
            display: none;
        }

        &-wrapper {
            position: sticky;
            top: 3em;
            display: flex;
            align-items: flex-end;
            height: 1lh;
            line-height: 1;
            overflow: hidden;

            span {
                line-height: 1;
            }
        }

        &-scroll {
            display: flex;
            flex-direction: column;
            line-height: 1;
            transform: translateY(calc(100% - 1lh));
        }
    }
}
